// Box model
// ---------

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

// Focus states
// ------------

:focus {
  outline: 0;
  @include focus-glow;
}
::-moz-focus-inner {
  border: 0;
}

// Body
// ----

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  @include default-font;
  font-size: 87.5%; // (14 / 16) * 100 (default is 16px in most browsers)
  line-height: 1.35;
  color: $grey;
  // Fix font rendering problems in various browsers
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  // Prevent Webkit and Windows Mobile platforms from changing default font sizes
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

// Margins
// -------

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table, form {
  margin: 0 0 20px 0;
}

// Headings
// --------

h1, h2, h3, h4, h5, h6 {
  color: $blue;
  font-weight: bold;
}
h1 { font-size: 2.2em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

// Tables
// ------

table {
  border: 1px solid $grey;
}
tr {
  border-bottom: 1px solid $grey;
}
th, td {
  padding: 10px;
  border-left: 1px solid $grey;
  text-align: left;
}
th {
  font-weight: bold;
}

// Clearing floats
// ---------------

.clear {
  @include clearfix;
}

// Emphasis and miscellaneous
// --------------------------

small {
  font-size: 0.85em;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
cite {
  font-style: normal;
}
// Provides relatively consistent positioning across browsers, but
// font-size, top and bottom may still need to be tweaked in some cases.
// http://www.adobe.com/cfusion/communityengine/index.cfm?event=showdetails&postId=5341&productId=1
sup, sub {
  height: 0;
  font-size: smaller;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
}
sup {
  bottom: .5ex;
}
sub {
  top: .5ex;
}
code {
  padding: 0 4px;
  background-color: #EEE;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

// Lists
// -----

ul, ol {
  margin-left: 25px;
  padding: 0;
}
ul {
  list-style: disc outside;
}
ol {
  list-style: decimal outside;
}
li {
  margin: 0 0 10px 0;
}

// Links
// -----

a {
  color: $blue;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: $light-blue;
  text-decoration: none;
}

// Pseudo-classes should be defined in this order:

// a
// a:link
// a:visited
// a:hover
// a:focus
// a:active

// Skip to main content link
// -------------------------

#skip-link {
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  z-index: 80;
}
#skip-link:active,
#skip-link:focus {
  height: auto;
  clip: auto;
  overflow: visible;
  position: static;
}
#skip-link:focus {
  padding: 10px;
  background-color: $grey;
  color: #FFF;
  position: absolute;
  top: 20px;
  left: 20px;
}

// Layout
// ------

main {
  // IE 11 does not give the <main> element display:block by default
  display: block;
}
#page-heading {
  display: inline-block;
}

// Delete me
// ---------

body {
  background-color: #DDD;
  header,
  main,
  footer {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
  }
}
