body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}
#countdown {
  max-width: 800px;
  min-width: 224px;
  margin: 20px auto 0 auto;
}
.group {
  /* There are 4 groups of numbers (25% width for each group) */
  width: 21%;
  margin: 0 2%;
  display: block;
  float: left;
}
.number {
  /* There are 2 numbers in each group (50% width for each number) */
  width: 50%;
  height: 0;
  /*
  Each number is 46px by 68px, so bottom padding should be:
  (46 / 68) * 100 = 67.64705882352942
  */
  padding-bottom: 67.64705882352942%;
  background: transparent url('../images/numbers.png') no-repeat 0 0; 
  background-size: 1200%; /* There are 12 number slots in the sprite */
  text-indent: -9999px;
  display: block;
  float: left;
}
/*
It would make sense to divide 100 by 12 to get the position of each of
the 12 number slots, but you actually have to divide by 11 instead. See:
http://www.sitepoint.com/css-using-percentages-in-background-image/
*/
.image0 { background-position: 0 0; }
.image1 { background-position: 9.090909090909091% 0; } /* 100 divided by 11 */
.image2 { background-position: 18.181818181818182% 0; }
.image3 { background-position: 27.272727272727273% 0; }
.image4 { background-position: 36.363636363636364% 0; }
.image5 { background-position: 45.454545454545455% 0; }
.image6 { background-position: 54.545454545454546% 0; }
.image7 { background-position: 63.636363636363637% 0; }
.image8 { background-position: 72.727272727272728% 0; }
.image9 { background-position: 81.818181818181819% 0; }

.label {
  width: 100%;
  margin-top: 12%;
  font-size: 8px;
  line-height: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  float: left;
  clear: both;
}